# LaTeX intermediate and output files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.pdfsync
*.alg
*.loa
*.idx
*.ind
*.ilg
*.ist
*.glg
*.glo
*.gls
*.glsdefs
*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml
*.nav
*.pre
*.snm
*.vrb
*.xdv
*.acn
*.acr
*.xdy
*.dvi
*.ps
*.thm
*.loe
*.lox
*.lol

# Editors/OS junk
.DS_Store
*.swp
*.swo
*.tmp

# Final PDFs (compiled outputs)
*.pdf
